<a href="https://colab.research.google.com/github/surimajain/QuantAnalytics/blob/main/TimeSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import pandas as pd
from scipy.stats import kurtosis
import numpy as np
import seaborn as sns
from IPython.display import display 

cm = sns.light_palette("green", as_cmap=True)

def _calculate_log_normal_return(prices):
  df_temp=np.log(prices/prices.shift(1)).dropna()*100
  return df_temp

def _calculate_Mean(prices):
  df_temp=np.mean(prices.values)
  return df_temp

def _calculate_Std(prices):
  df_temp=np.std(prices.values)
  return df_temp

def _calculate_stats(prices):  
  _stats_dict['Mean']=_calculate_Mean(prices)
  _stats_dict['Standard Deviation']=_calculate_Std(prices)
  print(_stats_dict)
  return (_stats_dict)
# Function that specifies CSS for each cell
def color_fill_conditional(val):
    # Define the styling for a cell based on the value(val)
    styling = 'background-color: yellow;' if val >0 else 'background-color: black; color:yellow;'
    # Return the CSS attribute-value pair
    return styling 


df=pd.read_excel("/content/sample_data/HistoricalData.xlsx")

keys = df['Instrument'].unique()
# keys={'Price','LogNormal'}
df_temp=pd.DataFrame()
_hist_dict={}
_data_dict={}
_stats_prices_dict={}

for key in keys:
  prices=pd.Series((df[df['Instrument']==key]['Price']).values)
  _data_dict[key]=prices
  _hist_dict[key]=_calculate_log_normal_return(prices)#_data_dict

df_new=(pd.DataFrame(_hist_dict)) 
df_prices=(pd.DataFrame(_data_dict)) 
df_prices['Price Date']=df['Price Date'].unique()
df_prices.set_index(df['Price Date'].unique())
_stats_prices_dict['Mean']=pd.Series(pd.DataFrame(_data_dict).mean())
_stats_prices_dict['Std Dev']=pd.Series(pd.DataFrame(_data_dict).std())
_stats_prices_dict['Skewness']=pd.Series(pd.DataFrame(_data_dict).skew())
_stats_prices_dict['Kurtosis']=pd.Series(pd.DataFrame(_data_dict).kurtosis())
corr=df_new.corr()
# corr.style.applymap(color_fill) # Apply the css to each cell
covv=df_new.cov()
# df_new.to_csv("/content/sample_data/Data.csv")
display("*************PRICES******************")
display(df_prices)
print("*************LOG RETURNS******************")
display(df_new)
print("*************STATISTICS******************")
display(pd.DataFrame.from_dict(_stats_prices_dict).T)
print("*************CORRELATION******************")
corr.style.background_gradient(cmap=cm)
display(corr)
print("*************COVARIANCE******************")
# covv.style.applymap(color_fill)
display(covv)

'*************PRICES******************'

     AUD/USD  NZD/USD  USD/CHF  USD/CAD  EUR/USD  USD/JPY Price Date
0     0.7020   0.6719   0.9762   1.3092   1.1370   107.89 2019-06-28
1     0.7008   0.6700   0.9765   1.3095   1.1370   107.80 2019-06-27
2     0.6983   0.6680   0.9780   1.3127   1.1369   107.78 2019-06-26
3     0.6957   0.6640   0.9754   1.3169   1.1367   107.19 2019-06-25
4     0.6961   0.6619   0.9720   1.3179   1.1398   107.30 2019-06-24
..       ...      ...      ...      ...      ...      ...        ...
320   0.7678   0.7265   0.9593   1.2784   1.2283   106.93 2018-04-06
321   0.7685   0.7278   0.9634   1.2749   1.2240   107.38 2018-04-05
322   0.7717   0.7306   0.9608   1.2770   1.2278   106.78 2018-04-04
323   0.7684   0.7258   0.9588   1.2807   1.2270   106.61 2018-04-03
324   0.7664   0.7213   0.9554   1.2913   1.2302   105.89 2018-04-02

[325 rows x 7 columns]

*************LOG RETURNS******************

      AUD/USD   NZD/USD   USD/CHF   USD/CAD   EUR/USD   USD/JPY
1   -0.171086 -0.283181  0.030727  0.022912  0.000000 -0.083453
2   -0.357373 -0.298954  0.153492  0.244070 -0.008795 -0.018555
3   -0.373028 -0.600602 -0.266203  0.319440 -0.017593 -0.548915
4    0.057480 -0.316766 -0.349184  0.075907  0.272348  0.102569
5   -0.547394 -0.454271  0.451653  0.333308 -0.263551  0.009319
..        ...       ...       ...       ...       ...       ...
320 -0.260146 -0.576450  0.323676  0.674989 -0.308893  0.149743
321  0.091128  0.178780  0.426484 -0.274155 -0.350692  0.419953
322  0.415531  0.383983 -0.270242  0.164583  0.309977 -0.560330
323 -0.428544 -0.659162 -0.208377  0.289323 -0.065178 -0.159333
324 -0.260620 -0.621936 -0.355240  0.824266  0.260459 -0.677650

[324 rows x 6 columns]

*************STATISTICS******************

           AUD/USD   NZD/USD   USD/CHF   USD/CAD   EUR/USD     USD/JPY
Mean      0.723497  0.677373  0.993069  1.317266  1.150958  110.724031
Std Dev   0.021483  0.018709  0.013333  0.022448  0.027918    1.736786
Skewness  0.591542  0.906520 -0.687927 -0.371229  1.283424   -0.237545
Kurtosis -0.335645  1.195412  0.596898 -0.298711  1.525485   -0.393485

*************CORRELATION******************

          AUD/USD   NZD/USD   USD/CHF   USD/CAD   EUR/USD   USD/JPY
AUD/USD  1.000000  0.824720 -0.370504 -0.644677  0.654187 -0.148547
NZD/USD  0.824720  1.000000 -0.430413 -0.555993  0.600947 -0.175745
USD/CHF -0.370504 -0.430413  1.000000  0.251833 -0.702049  0.492310
USD/CAD -0.644677 -0.555993  0.251833  1.000000 -0.463596  0.027208
EUR/USD  0.654187  0.600947 -0.702049 -0.463596  1.000000 -0.302670
USD/JPY -0.148547 -0.175745  0.492310  0.027208 -0.302670  1.000000

*************COVARIANCE******************

          AUD/USD   NZD/USD   USD/CHF   USD/CAD   EUR/USD   USD/JPY
AUD/USD  0.260850  0.218628 -0.066416 -0.129739  0.131726 -0.026695
NZD/USD  0.218628  0.269406 -0.078410 -0.113711  0.122974 -0.032096
USD/CHF -0.066416 -0.078410  0.123188  0.034828 -0.097146  0.060798
USD/CAD -0.129739 -0.113711  0.034828  0.155261 -0.072019  0.003772
EUR/USD  0.131726  0.122974 -0.097146 -0.072019  0.155436 -0.041987
USD/JPY -0.026695 -0.032096  0.060798  0.003772 -0.041987  0.123805